@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix')format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
    url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix')format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    height: 100%;
    font-family: 'HelveticaNeueCyr', sans-serif, Serif;
    /*background-color: #E5E5E5;*/
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
}

.main {
    flex: 1 1 auto;
}

.header {
    max-width: 1170px;
    margin: 0 auto;
    max-height: 125px;
    display: flex;
    align-items: center;
    padding: 32px 0px;
}

.header__logo {
    margin-right: 16px;
}

.header__logo-piсture {
    width: 100%;
    height: 100%;
}

.header__menu {
    width: 100%;
}

.list {
    padding: 0px;
    list-style-type: none;
}

.header__item {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    margin-right: 16px;
    text-transform: uppercase;
}

.li__img {
    display: inline;
    margin-left: 4px;
    width: 4px;
    height: 18px;
}

a {
    text-decoration: none;
}

.header__search {
    max-width: 442px;
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.search__input {
    width: 405px;
    height: 100%;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding: 0 0 0 20px;
    outline: none;
}

.icon-wrapper {
    background: #F13D37;
    border-top: 1px solid #F13D37;
    border-right: 1px solid #F13D37;
    border-bottom: 1px solid #F13D37;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.header__search-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #001BA5;
    color: white;
    height: 290px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.banner__title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.banner__txt {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.banner__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

/*slider*/
.slider {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    height: 310px;
    margin-top: 60px;
}

.title {
    font-size: 22px;
    margin: 0;
}

.slider__cards {
    display: flex;
    margin: 34px -8px 0;
}

.slider__card {
    display: flex;
    flex-direction: column-reverse;
    width: 378px;
    height: 250px;
    border-radius: 4px;
    position: relative;
    padding: 0 8px;
}

.slider__card:last-child:after {
    content: "";
    width: 48px;
    height: 48px;
    background: white url("img/slider/sliderNext.svg") no-repeat center center;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    top: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.slider__background {
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    border-radius: 4px;
}
footer {
    max-width: 1170px;
    margin: 0 auto;
}


.slider__info {
    height: 94px;
    background: rgba(32, 42, 37, 0.6);
    border-radius: 0px 0px 4px 4px;
    color: #FFFFFF;
}

.slider__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 16px 314px 6px 20px;
    text-transform: uppercase;
}

.slider__text {
    font-size: 16px;
    font-weight: 550;

    line-height: 20px;
    margin: 0 20px 16px;
}

.slider__logo {
    width: 104px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 90px 140px -10px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*купоны*/
.coupons {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    height: 1342px;
    margin-top: 60px;
}

.coupons__cards {
    margin: 30px -9px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
}

.coupons__column {
    max-width: 220px;
    padding: 0 9px;
}

.coupons__card {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    width: 220px;
    height: 290px;
    margin-bottom: 20px;
}
